In [0]:
import pandas as pd

In [0]:
df_licenses = pd.read_csv("https://drive.switch.ch/index.php/s/HUOmc3Db1dJ9WMh/download")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df_licenses.sample(10)

                      ID  ...                                  LOCATION
946844  1250016-20090116  ...  (41.880687878501604, -87.62564350408694)
172129    72082-20030516  ...   (41.93281943965434, -87.64946459158662)
582482  2313533-20140604  ...   (41.89583963820686, -87.62498814131581)
86217   1741166-20061215  ...   (41.95523571381623, -87.67934544885661)
248795     3991-20050816  ...    (41.84985753265426, -87.7053434771034)
17990   1493775-20060216  ...                                       NaN
608196    13474-20030516  ...   (41.99020192986583, -87.73198952777472)
765936    17096-20091016  ...   (41.78661119386881, -87.68764711791009)
273918  1717221-20121016  ...   (41.750913103990285, -87.6203919644102)
429849  1546442-20041123  ...   (41.78783563115532, -87.74127655955658)

[10 rows x 34 columns]

In [0]:
df_licenses.dtypes

ID                                    object
LICENSE ID                             int64
ACCOUNT NUMBER                         int64
SITE NUMBER                            int64
LEGAL NAME                            object
DOING BUSINESS AS NAME                object
ADDRESS                               object
CITY                                  object
STATE                                 object
ZIP CODE                              object
WARD                                 float64
PRECINCT                             float64
WARD PRECINCT                         object
POLICE DISTRICT                      float64
LICENSE CODE                           int64
LICENSE DESCRIPTION                   object
BUSINESS ACTIVITY ID                  object
BUSINESS ACTIVITY                     object
LICENSE NUMBER                       float64
APPLICATION TYPE                      object
APPLICATION CREATED DATE              object
APPLICATION REQUIREMENTS COMPLETE     object
PAYMENT DATE                          object
CONDITIONAL APPROVAL                  object
LICENSE TERM START DATE               object
LICENSE TERM EXPIRATION DATE          object
LICENSE APPROVED FOR ISSUANCE         object
DATE ISSUED                           object
LICENSE STATUS                        object
LICENSE STATUS CHANGE DATE            object
SSA                                  float64
LATITUDE                             float64
LONGITUDE                            float64
LOCATION                              object
dtype: object

In [0]:
#Reformatting date
df_licenses["DATE ISSUED"] =  pd.to_datetime(df_licenses["DATE ISSUED"], format = "%m/%d/%Y")

In [0]:
#As shown below, there are multiple entries for one business license number
df_licenses[df_licenses["LICENSE NUMBER"] == 2.0]

                ID  ...                                LOCATION
225835  2-20021116  ...  (41.88075715864721, -87.6347092983425)
258966  2-20100916  ...  (41.88075715864721, -87.6347092983425)
396934  2-20031116  ...  (41.88075715864721, -87.6347092983425)
437039  2-20041116  ...  (41.88075715864721, -87.6347092983425)
456478  2-20020506  ...  (41.88075715864721, -87.6347092983425)
477052  2-20080916  ...  (41.88075715864721, -87.6347092983425)
488506  2-20180916  ...  (41.88075715864721, -87.6347092983425)
549322  2-20120916  ...  (41.88075715864721, -87.6347092983425)
666130  2-20160916  ...  (41.88075715864721, -87.6347092983425)
723713  2-20061116  ...  (41.88075715864721, -87.6347092983425)
818485  2-20071116  ...  (41.88075715864721, -87.6347092983425)
864061  2-20051116  ...  (41.88075715864721, -87.6347092983425)
885068  2-20140916  ...  (41.88075715864721, -87.6347092983425)

[13 rows x 34 columns]

In [0]:
#Extraction of the date of the very first record in the set for each business license number
df_licenses_bis = df_licenses[["LICENSE NUMBER", "DATE ISSUED"]]
df_licenses_bis.groupby("LICENSE NUMBER", as_index = False)["DATE ISSUED"].min()

        LICENSE NUMBER DATE ISSUED
0                  2.0  2002-05-06
1                  3.0  2004-08-10
2                  9.0  2002-06-17
3                 10.0  2002-02-13
4                 40.0  2002-12-20
...                ...         ...
298121       2703397.0  2019-11-15
298122       2703398.0  2019-11-15
298123       2703399.0  2019-11-15
298124       2703418.0  2019-11-15
298125       2703421.0  2019-11-15

[298126 rows x 2 columns]