In [0]:
import pandas as pd

In [0]:
# Load data
df_weather = pd.read_csv("https://drive.switch.ch/index.php/s/ui6Zr1v2vzPlieH/download")

In [18]:
df_weather.head(10)

       STATION                           NAME        DATE  TMAX
0  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-15  -2.1
1  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-16  -4.9
2  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-17   2.8
3  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-18   3.3
4  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-19   1.1
5  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-20  -0.5
6  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-21  -1.0
7  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-22   0.0
8  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-23   0.0
9  USW00014819  CHICAGO MIDWAY AIRPORT, IL US  2009-12-24   2.2

In [19]:
df_weather.dtypes

STATION     object
NAME        object
DATE        object
TMAX       float64
dtype: object

In [0]:
# Column selection
df_weather_zip = df_weather[["DATE", "TMAX"]]

In [0]:
# Compute the mean maximum temparture over the last 3 days for each day.
df_weather_zip["MeanMaxTemp3Days"] = (1.0/3.0)*(df_weather_zip.TMAX.shift(1) + df_weather_zip.TMAX.shift(2) + df_weather_zip.TMAX.shift(3))

In [27]:
# Example : 1/3 * ((-2.1) + (-4.9) + (2.8)) = -1.4
# which corresponds to 1/3 * (TMAX(2009-12-15) + TMAX(2009-12-16) + TMAX(2009-12-17)) = MeanMaxTemp3Days(2009-12-18)
df_weather_zip.head(10)

         DATE  TMAX  MeanMaxTemp3Days
0  2009-12-15  -2.1               NaN
1  2009-12-16  -4.9               NaN
2  2009-12-17   2.8               NaN
3  2009-12-18   3.3         -1.400000
4  2009-12-19   1.1          0.400000
5  2009-12-20  -0.5          2.400000
6  2009-12-21  -1.0          1.300000
7  2009-12-22   0.0         -0.133333
8  2009-12-23   0.0         -0.500000
9  2009-12-24   2.2         -0.333333