THIS PIECE OF CODE ONLY WORKS FOR INSPECTIONS BEFORE July 1, 2018 AS WE HAVE NO INFORMATION REGARDING THE VIOLATIONS CLASSIFICATION AFTER THE LEGAL CHANGES. WE CONTACTED THE DATA SET OWNER TO GET MORE INFORMATION.

In [0]:
import pandas as pd
import re

def cleanList(inputList) :
  newList = []
  for elem in inputList :
    newElem = int(elem.strip(". "))
    if newElem not in newList :
      newList.append(newElem)

  return newList

df = pd.read_csv("https://drive.switch.ch/index.php/s/nlURni4cnxItrbn/download")

violations = df["Violations"]

listOfViolations = []

for elem in violations :
  try :
    res = re.findall("[^\d]\d{0,1}\d\.\s", (" " + elem))
    newRes = cleanList(res)
    listOfViolations.append(newRes)
  except :
    listOfViolations.append("NA")

In [0]:
criticalCount = []
seriousCount = []
minorCount = []

for rows in listOfViolations :
    try :
      cCount = 0
      sCount = 0
      mCount = 0
      for elem in rows :
        if elem in range(1, 15) :
          cCount += 1
        elif elem in range(15, 30) :
          sCount +=1
        elif (elem in range(30, 45)) or (elem == 70) :
          mCount += 1
      criticalCount.append(cCount)
      seriousCount.append(sCount)
      minorCount.append(mCount)
    except :
      criticalCount.append(0)
      seriousCount.append(0)
      minorCount.append(0)

In [76]:
viol = [("List of violations", listOfViolations), ("Critical violations count", criticalCount), ("Serious violations count", seriousCount), ("Minor violations count", minorCount)]
df_viol = pd.DataFrame.from_items(viol)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.

In [77]:
df_viol.head(10)

                                  List of violations  ...  Minor violations count
0  [1, 2, 3, 5, 9, 36, 37, 38, 41, 47, 51, 53, 55...  ...                       4
1                                                 NA  ...                       0
2  [1, 2, 3, 5, 10, 23, 36, 37, 38, 45, 47, 48, 5...  ...                       3
3                                                 NA  ...                       0
4                                                 NA  ...                       0
5                                                 NA  ...                       0
6                                                 NA  ...                       0
7                                                 NA  ...                       0
8                                                 NA  ...                       0
9                                                 NA  ...                       0

[10 rows x 4 columns]